<div id="kq-product-panel-parent">
  <div class="col-md-12 col-lg-12 blue-background" id="kq-product-panel-nav" style="height:40px">
    <span id="kq-panel-title" class="white"> {{ panelTitle }} </span>
    <span class="white" id="kq-panel-title" style="float:right"> Show All</span>
  </div>

  <div class="col-md-12 col-lg-12 grey-background" id="kq-product-panel-box">
    <div class="col-md-2 col-lg-2" *ngFor="let x of [0,1,2,3,4,5]">
      <app-kq-product-thumb></app-kq-product-thumb>
    </div>
  </div>
</div>
