#kq-main-logo {
  height: 150px;
  width: 150px;
  margin-left: -31px;
}

#kq-user-logo {
  height: 150px;
  width: 150px;
  margin-right: -31px;
}

#kq-category-box > div > img {
  width: 120px;
  height: 120px
}

#kq-category-box-toggle {
  font-size: 20px;
  font-weight: 900;
  color: white
}

/*css class between toggle*/
.kq-category-tab-selected {
  background-color: #43c0f6;
  font-size: 16px;
  padding: 4px 20px 2px;
}

.kq-category-tab-not-selected {
  background-color: #ebebeb;
  font-size: 16px;
  padding: 4px 20px 2px;


}

/* The switch - the box around the slider */
.kq-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.kq-switch input {
  display: none;
}

/* The slider */
.kq-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.kq-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .kq-slider {
  background-color: #2196F3;
}

input:focus + .kq-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .kq-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.kq-slider.round {
  border-radius: 34px;
}

.kq-slider.round:before {
  border-radius: 50%;
}

#kq-search-box-parent {
  height: 150px;
}

#kq-global-search-parent {
  margin-top: 50px
}

#category-panel-parent {
  height: 520px;
}

#kq-category-item {
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 30%;
  height: 50px;
  cursor: pointer;
  padding: 4px;
}

#kq-category-box-toggle-parent {
  height: 150px;
  margin-top: 70px;
}


.kq-category-text{
  text-align: -webkit-center;
  margin-top: 30px;
  font-size: 18px;
  color: rgba(8, 8, 8, 0.52);
}
