<!--top panel / search and logo-->
<div style="" class="col-md-12">
  <div class="col-md-3">
  </div>
  <div class="col-md-6" style="height:150px">
    <div class="col-md-2" style="">
      <img src="/assets/images/main-logo.jpg" id="main-logo">
    </div>
    <div class="col-md-8" style="">
      <div style="margin-top:50px">
        <app-kq-global-search></app-kq-global-search>
      </div>
    </div>
    <div class="col-md-2">
      <img src="/assets/images/user-logo.png" id="user-logo">
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<!--top navigation panel-->
<div class="col-md-12 blue-background" style="height:40px">
</div>

<!--category panel-->
<div class="col-md-12" style="height:520px">
  <div class="col-md-3">
    <div class="col-md-4">
    </div>
    <div class="col-md-8" style="height:500px">
      <app-kq-category-sidebar></app-kq-category-sidebar>
    </div>
  </div>
  <div class="col-md-6 grey-background" style="height:520px">

    <div class="col-md-12" style="height:150px;
    margin-top: 70px;">
      <div id="category-box-toggle" >
        <!--<label class="switch">-->
          <!--<input type="checkbox">-->
          <!--<div class="slider round">-->
          <!--</div>-->
        <!--</label>-->
        <span style="border: 1px solid black;border-radius: 10px;margin-left:30%;height:50px;cursor:pointer">
          <span [ngClass]="{ 'category-tab-selected' : categoryOptionState === 'essentials', 'category-tab-not-selected': categoryOptionState === 'all' }" (click)="toggleCategoryOption()" style="margin-left: 10px;margin-right: 10px;border-radius: 10px">Essentials</span>
          <span [ngClass]="{ 'category-tab-not-selected' : categoryOptionState === 'essentials', 'category-tab-selected': categoryOptionState === 'all' }" (click)="toggleCategoryOption()" style="border-radius: 10px;margin-left: 10px;margin-right: 10px;">All Categories</span>
        </span>
      </div>
    </div>

    <div class="col-md-12" id="category-box">
      <div class="col-md-2">
        <img src="/assets/images/ICONS/CEMENT.png">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/ICONS/STEEL.png">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/ICONS/SAND.png">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/ICONS/BRICKS_BLOCKS.png">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/ICONS/READYMIX.png">
      </div>
      <div class="col-md-2">
        <img src="/assets/images/ICONS/WOOD_LUMBER.png">
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>


<!--product panel of product boxes-->
<div class="col-md-12" style="border: 1px solid red" *ngFor="let x of [0,1,2,3,4]">
  <div class="col-md-3">
    Left Space
  </div>
  <div class="col-md-6" style="border:1px solid red;height:300px">
    Middle Space
  </div>
  <div class="col-md-3">
    Right Space
  </div>
</div>








