<div class="col-md-12 col-lg-12 blue-background" id="kq-nav-bar">
  <div class="container-fluid">

    <div class="col-md-3 col-lg-3">

      <div class="col-md-4 col-lg-4">

      </div>

      <div class="col-md-8 col-lg-8 nav-pill">
    <span class="white" style="margin-left: 40px;">
      Categories
    </span>
      </div>
    </div>

    <div class="col-md-1 col-lg-1">

    </div>
    <div class="col-md-1 col-lg-1">

    </div>

    <div class="col-md-1 col-lg-1">

    </div>


    <div class="col-md-1 col-lg-1 nav-pill">
    <span class="white">
      Quick Order
    </span>
    </div>
    <div class="col-md-1 col-lg-1 nav-pill">
    <span class="white">
        Track Order
    </span>
    </div>

    <div class="col-md-1 col-lg-1 nav-pill">
      <a [routerLink]="['/user-login']">
      <span class="white">
        Login / Sign Up
      </span>
      </a>
    </div>

    <div class="col-md-1 col-lg-1">

    </div>

    <div class="col-md-1 col-lg-1">

    </div>

    <div class="col-md-1 col-lg-1">

    </div>


  </div>

</div>
