#kq-category-body {
  width: 112%
}

#kq-category-list-item {
  border-bottom: 1px solid rgba(157, 157, 157, 0.32);
  height: 40px;
  font-size: x-large;
}

#kq-category-list-item:hover {
  background-color:rgba(204, 204, 204, 0.54);;
  cursor:pointer;
  font-weight: 700;
}

#kq-category-list {
  list-style-type: none;
  width: 100%;
}

#kq-category-list-item-text {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

#kq-category-list-item > img {
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;

}
